# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
client/.next/
/out/

# production
client/build

# misc
.DS_Store
*.pem
.vscode/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# OpenNext
client/.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example

# Hardhat files
smartcontracts/**/artifacts/
smartcontracts/**/cache/
smartcontracts/**/build/
smartcontracts/**/generated/
smartcontracts/**/ignition/deployments/
smartcontracts/**/ignition/journal.jsonl
smartcontracts/**/ignition/journal.jsonl.lock
smartcontracts/**/.openzeppelin/

# workers
workers/temp/
workers/**/dist/